<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Heure</th>
        <th scope="col">Film</th>
        <th scope="col">Salle</th>
        <th scope="col">Cinema</th>
        <th scope="col">Reservations</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seance of seances">
        <td >{{seance.dateDebut | date: 'medium'}}</td>
        <td >{{seance.film.nom}}</td>
        <td >{{seance.salle.nom}}</td>
        <td >{{seance.salle.cinemas[0]?.nom}}</td>
        <!-- <td>{{seance | json}}</td> -->
        <td> <button class="btn btn-primary" (click)="setSeanceIntoReservation(seance)">Réserver</button></td>
      </tr>
    </tbody>
  </table>
  
