.app-reservation  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    margin: auto;
}
label{
    font-weight: bold;
    font-size: 20px;
}