
.app-client-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    margin: auto;
}

h5, label {
    font-size: 15px;
    font-weight: bold;
}