<div class="app-client-form">
  <form  (ngSubmit)="handleSubmitClientForm(client)" #clientForm="ngForm">
    <h3>Veuillez saisir votre nom et prénom afin d'effectuer la réservation</h3>

    <div class="form-group">
      <label for="Nom">Nom</label>
      <input type="text" class="form-control" id="Nom" placeholder="Jean" [(ngModel)]="client.nom" name="nom" required>
    </div>

    

    <div class="form-group">
        <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" placeholder="Dupont" [(ngModel)]="client.prenom" name="prenom" required>
    </div>

    <h5>Avez-vous une carte de fidelité</h5>

    <div  class="form-check">
        <input class="form-check-input" type="radio" name="carteFidelite" id="carteFideliteOui" value="true" [(ngModel)]="client.carteFidelite">
        <label class="form-check-label" for="carteFideliteOui">
          Oui
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="carteFidelite" id="carteFideliteNon" value="false" [(ngModel)]="client.carteFidelite">
        <label class="form-check-label" for="carteFideliteNon">
            Non
        </label>
    </div>
   <br>

    <div>
        <button class="btn btn-primary" type="submit" [disabled]="!clientForm.form.valid">
            Continuer la réservation
        </button>
    </div>
  </form>
</div>
