<div class="container backgroundColor">
  
  <input type="text" [(ngModel)]="searchValue" (ngModelChange)="handleSearchIntoList()"/>
 
  <div class="row row-cols-1 row-cols-md-3" >
        <div class="col mb-4" *ngFor="let film of filmListAfterSearch">
          <div class="card h-100" (click)="openDialog(film)">
            <img src="../assets/img/{{ film.id }}.jpg" class="card-img-top h-15" alt="..."/>
            <div class="card-body">
              <h2 class="card-title" >{{ film.nom }}</h2>
              <p class="card-text">{{ film.description }}</p>
            </div>
          </div>
        </div>
   </div>
</div>
